table, tr, th, td{
    border: 3px dashed skyblue;
    border-collapse: collapse;
    color: green;
    line-height: 2;
}

body {
    background-color: lemonchiffon;
    color:darkblue;
    cursor: url(elephant.png), auto;
}

a {
    text-decoration: none;
    color: darkblue;
}

h1 {
    color: blue;
}

h2 {

    color: red;
}

.cprt {
    color: black;
    font-size: small;
}
ul {
    list-style-type: none;
    line-height: 80%;
}

button:hover{
    border-radius: 5px;
    background-color: green;
    color: yellowgreen;
    cursor: url(giraffe.png), auto;
}