table, tr, th, td{
    border: 3px dashed skyblue;
    border-collapse: collapse;
    color: green;
}

body {
    background-color: lemonchiffon;
    color:darkblue
}

a {
    text-decoration: none;
    color: darkblue;
}

h1 {
    color: blue;
}

h2 {

    color: red;
}

.cprt {
    color: black;
    font-size: small;
}