table, tr, th, td {
    border: 3px dashed skyblue;
    border-collapse: collapse;
    color: green;
    line-height: 2;
    padding-right: 10px;
    padding-left: 3px;
}

body {
    background-color: lemonchiffon;
    color:darkblue;
    cursor: url(elephant.png), auto;

    font-family: 'Trebuchet MS', Helvetica, sans-serif;

    padding-left: 10%;
}

a {
    text-decoration: none;
    color: darkblue;

    margin: 5px;
}

h1 {
    color: blue;
}

h2 {

    color: red;
}

.cprt {
    color: black;
    font-size: small;
    margin-left: 6%;
}

table {
    margin-left: 5%;
}

ul {
    list-style-type: none;
    line-height: 80%;
}

button:hover {
    border-radius: 5px;
    background-color: green;
    color: yellowgreen;
    cursor: url(giraffe.png), auto;
}

td:hover, th:hover, caption:hover {
    font-weight: bold;
    color: rgb(171, 11, 11);

    cursor: url(giraffe.png), auto;
    padding-right: 3px;
}

td > ul {
    font-weight: normal;
    color: green;
    
    cursor: url(elephant.png), auto;
    padding-right: 10px;
    padding-left: 7px;
}

li:hover {
    font-weight: bold;
    color: rgb(171, 11, 11);

    cursor: url(giraffe.png), auto;
    padding-right: 3px;
}