  body {
    margin-top: 60px;
    font-size: 20px;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

  .navbar {
    overflow: hidden;
    background-color: #33e4ff;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: 100vw;
    border-radius: 0px 0px 50px 50px;
    z-index: 10;
  }
  
  .navbar a {
    float: left;
    color: #0000EE;
    font-size: 23px;
    text-align: center;
    text-decoration: none;
    padding-right: 5%;
    padding-left: 5%
  }

  .navbar a:hover {
    text-decoration: underline;
    border-left: 2px solid #0000EE;
    border-right: 2px solid #0000EE;
  }

  #onpage:hover {
    
    border-left: 2px solid #551A8B;
    border-right: 2px solid #551A8B;
  }

  .navbar ul {
    list-style: none;
    margin-left: 27%;
  }

  #onpage {
    font-weight: bold;
    font-style: italic;
    color: #551A8B;
  }

  #title {
    font-size: 64px;
    font-weight: bold;
    text-align: center;
  }

  #hero {
    width: 100vw;
    height: 700px;
  }

  #main {
    margin-left: 15.5%;
    margin-right: 15.5%;
  }

  #CTA {
    position: absolute;
    top: 700px;
    left: 17%;
    width: 300px;
    height: 100px;
    font-style: italic;
    font-size: 230%;
    border: 5px solid #000000;
    border-radius: 15%;
    background-color: #33e4ff;
    cursor: pointer;
}

#desc {
  position: absolute;
  top: 550px;
  left: 12%;
  color: #33e4ff;
  text-align: center;
  border: 1px solid transparent;
  width: 500px;
}

#desc_head {
  position: absolute;
  top: 500px;
  left: 17%;
  color: #33e4ff;
  text-align: center;
}

#indexgrid {
  display: grid;
  grid:
    'sct1 sct2' 100%
    /1fr 1fr;
}

#sct1 {
  grid-area: sct1;
  margin: auto;
}

#sct2 {
  grid-area: sct2;
  margin: auto;
}

#indexgrid img {
  height: 500px;
}

p {
  text-align: center;
}

#testgrid {
  display: grid;
  grid:
    'pic1 test1' 1fr
    'test2 pic2' 1fr
    'pic3 test3' 1fr
    /1fr 1fr;
}

#testgrid img {
  height: 300px;
  margin: auto;
}

#testgrid p {
  margin: auto;
}

#pic1 {
  grid-area: pic1;
}

#test1 {
  grid-area: test1;
}

#pic2 {
  grid-area: pic2
}

#test2 {
  grid-area: test2;
}

#pic3 {
  grid-area: pic3;
}

#test3 {
  grid-area: test3;
}

form {
  display: none;
  position: fixed;
  top: 35vh;
  left: 40vw;
  border: 3px solid #000000;
  z-index: 9;
  max-width: 300px;
  padding: 10px;
  background-color: white;
  backdrop-filter: blur(1px);
}

#blur {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: none;
  backdrop-filter: blur(3px);
}

#close {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  border-radius: 0;
}

#banner {
  height: 200px;
  width: 100%;
  border-radius: 35px;
}

#bookNow {
  width: 300px;
  height: 100px;
  font-style: italic;
  font-size: 230%;
  border: 5px solid #000000;
  border-radius: 15%;
  background-color: #33e4ff;
  cursor: pointer;

}

#levelgrid {
  display: grid;
  grid:
    'slvr gold pltnm' 800px
    /1fr 1fr 1fr;
  gap: 5px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

#slvr {
  grid-area: slvr;
  background-color: silver;
  border-radius: 40px;
  border: 4px solid black;
}

#gold {
  grid-area: gold;
  background-color: gold;
  border-radius: 40px;
  border: 4px solid black;
}

#pltnm {
  grid-area: pltnm;
  background-color: #dedede;
  border-radius: 40px;
  border: 4px solid black;
}

footer {
  background-color: #0000EE;
  width: 100vw;
  height: 200px;
  color: white;
}

footer a {
  color: white;
}

#top {
  position: absolute;
  top: 0;
  height: 0;
  width: 0;
  background-color: transparent;
}