body {
font-family: "Times New Roman";
font-size: 21px;
}

table, tr, th, td {
border: 10px solid transparent;
border-image: url(latinImages/Table.jpeg) 30 round;
}

.cardborder {
border-radius: 12px;
background-color: black;
border: 2px solid black;
padding: 10px;
width: 270px;
height: 584px;
}