body {
font-family: "Times New Roman";
font-size: 21px;
color: #d3de43;

background-color: #91232e;

cursor: url(latinImages/sword.png), auto;
}

hr {
border: 1px solid #2f659c;
}

dl {
border-left: 10px solid #91232e;
}

table, tr, th, td {
border: 10px solid transparent;
border-image: url(latinImages/Table.jpeg) 30 round;
}

.subheader {
border-left: 2px solid #2f659c;
}

.fix {
border-left: 10px solid #91232e;
}

.rules {
font-family: "Times New Roman";
font-size: 24px;
color: #30cf47;

border-left: 2px solid black;
}

.cardborder {
border-radius: 12px;
background-color: #818181;
border: 2px solid #818181;
padding: 10px;
width: 90%;
height: 93%;
}

.imgborder {
border-radius: 25px;
background-color: #215736;
border: 4px solid #215736;
padding: 20px;
width: 300px;
height: 628px;
}

.rules strong {
color: #fcba03;
}