body {
    background-color: rgb(1, 103, 1);
    color: lightblue;
    margin-left: 3%;
}

h1, h2, h3 {
    color: lightyellow;
    margin-left: 2%;
}

#title {
    font-size: 64px;
    font-weight: bold;
    margin-left: 30%;
}

a {
    color: lemonchiffon;
    font-weight: bold;
    font-size: 17px;
}

dd {
    padding-bottom: 30px;
}

dt {
    font-size: large;
    font-weight: bold;
}